header.p-1
  .container 
    .d-flex.align-items-center.justify-content-between
      img.logo(src="/assets/images/logo.png" alt="logo")
      ul.menu.d-flex.align-items-center
        li
          a(href="#") Trang chủ
        li
          a(href="/categories") Danh mục
        li 
          a(href="/cart") Giỏ hàng (<span cart-quantity>0</span>)