@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
a {
  text-decoration: none;
}
ul, li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #f8f9fa;
}
.box-head {
  color: green;
  margin-bottom: 30px;
}

/* Header */
.header {
  background-color: #202020;
  height: 56px;
  padding: 10px 0;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
}
.header .inner-logo a {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}
/* End Header */

/* Main */
main {
  margin: 20px;
  padding-top: 56px;
  position: relative;
  left: 240px;
  width: calc(100% - 280px);
  transition: all 0.3s ease;
}
/* End Main */

/* Sider */
.sider {
  width: 240px;
  height: calc(100vh - 56px);
  background: #323232;
  color: #fff;
  position: fixed;
  top: 56px;
  left: 0;
}
.sider ul li {
  padding: 15px;
  border-bottom: 1px solid #707070;
}
.sider a {
  color: #fff;
}
.sider a:hover {
  text-decoration: underline;
}
/* End Sider */

/* Show Alert */
[show-alert] {
  position: fixed;
  top: 70px;
  right: 15px;
  z-index: 9999;
  color: white;
  padding: 15px 25px;
  border-radius: 8px;
  font-family: "Arial", sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  opacity: 1;
  transition: opacity 0.5s ease;
  animation: fadeIn 0.5s;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
[show-alert].alert-hidden {
  animation: alert-hidden 0.5s forwards;
}
@keyframes alert-hidden {
  from {
    right: 15px;
    opacity: 1;
  }
  to {
    right: -100%;
    opacity: 0;
  }
}
[show-alert] [close-alert] {
  background-color: white;
  color: black;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
[show-alert] [close-alert]:hover {
  transform: scale(1.1);
}
[show-alert] [close-alert]:active {
  transform: scale(0.95);
}
/* End Show Alert */

/* Preview Images Field */
#preview-field {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
/* End Preview Images Field */