header.header 
  .container-fluid 
    .row.align-items-center 
      .col-3 
        .inner-logo 
          a(href=`${prefixAdmin}/dashboard`) ADMIN

      .col-9 
        .text-end 
          a.btn.btn-primary.btn-sm.me-2(href=`${prefixAdmin}/my-account`) Lê Văn A
          a.btn.btn-danger.btn-sm(href=`${prefixAdmin}/auth/logout`) Đăng xuất